body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    cursor: default;
}

h1 {
    font-size: 50px;
    font-weight: 900;
}

h2 {
    font-size: 35px
}

h4 {
    font-size: 20px;
    font-weight: 500;
}

.grayText {
    color: rgb(112, 112, 112);
}

.centerText {
    text-align: center;
}

.redText {
    color: rgb(235, 44, 69);
}

.redColoredButton {
    text-decoration: none;
    color: White;
    background: linear-gradient(45deg, hotpink, red);
    padding: 15px 27px;
    border-radius: 30px;
    font-weight: 600;
    box-shadow: 2px 2px 5px gray;
}

.redColoredButton:hover {
    box-shadow: 2px 3px 15px gray;
    cursor: pointer;
}

.marginRedButton {
    margin-top: 15%;
}

/* first section style started */
.healthySection {
    display: flex;
}

#healthyText {
    width: 30%;
    padding: 10% 15% 15% 5%;
}

.healthyImage {
    width: 110%;
    margin-top: 15%;
    background-image: url(./images/shapes/Group\ 8449.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
}

/* end of first Section's css */
/* start of second Section */
.aboutSection {
    background-image: url(./images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    margin-bottom: 3%;
}

.aboutImage {
    width: 45%;
    margin-left: 20%;
    margin-top: 10%;

}

.aboutTitle {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15%;
}

.aboutText {
    width: 30%;
    margin-top: 8%;
    margin-right: 15%;
}

h4 strong a {
    text-decoration: none;
}

/* end of second section */
/* recipie section start */

.resturantSection {
    display: flex;
    width: 50%;
    margin: auto;
    padding-bottom: 5%;
}

/* end */
/* resturant card section */
.lovedFood {
    text-align: center;
    color: gray;
    font-size: 50px;
    font-weight: 900;
}

.cardSection {
    display: flex;
    justify-content: center;
}

.card2,
.card3 {
    width: 20%;
    padding: 1%;
    border-radius: 20px;
    margin-left: 1.5%;
    box-shadow: gray 1px 1px 6px;
}

.card1 {
    width: 20%;
    padding: 1%;
    border-radius: 20px;
    box-shadow: gray 1px 1px 6px;
}

.card1:hover,
.card2:hover,
.card3:hover {
    box-shadow: gray 2px 2px 9px;
    cursor: pointer;
}

.cardImage {
    width: 100%;
    border-radius: 15px;
}

.priceRange {
    padding: .75rem 1.25rem;
    background-color: rgba(0, 0, 0, .03);
}

/* end */
/* social section start */
.socialSection {
    display: flex;
    border-radius: 15px;
    box-shadow: gray 1px 1px 15px;
    width: 65%;
    margin: 5% auto;
}

.socialSection:hover {
    box-shadow: rgb(138, 127, 127) 1px 1px 26px;
}

.users,
.reviews,
.employee {
    padding: 0% 8% 0% 9%;
}
/* end */
/* contact section start */
form {
    width: 50%;
    text-align: start;
    padding: 5px 8px;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    margin: 2% auto 5% auto ;
    
}
#email {
    padding: 15px 50px;
    margin-right: 1%;
}
.subscribeButton {
    border: none;
    border-radius: 5px;
    box-shadow: gray 1px 1px 10px;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 2% 0;
}